
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@media (max-width: $breakpoint-md) {
  // Styles pour les écrans moyens et petits
}

@media (max-width: $breakpoint-sm) {
  // Styles pour les petits écrans
}
