@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/queries';

.breed-search {
  text-align: center;
  padding: 20px;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;

    // Réduction de la taille du titre sur les petits écrans
    @media (max-width: $breakpoint-sm) {
      font-size: 1.5rem;
    }
  }

  .search-input {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid $secondary-color;
    
    // Utilisation du mixin border-radius
    @include border-radius(4px);
    
    margin-bottom: 10px;
  }

  .search-button {
    padding: 10px 20px;
    border: none;

    // Utilisation des couleurs variables
    background-color: $primary-color;
    color: white;
    
    // Utilisation du mixin border-radius
    @include border-radius(4px);

    cursor: pointer;

    // Utilisation du mixin pour la transition
    @include transition(background-color, 0.3s, ease);

    &:hover {
      background-color: $secondary-color;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 10px;

    // Adaptation pour les écrans plus petits
    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }

  .card {
    background: #fff;
    border: 1px solid $secondary-color;
    
    // Utilisation du mixin border-radius
    @include border-radius(8px);
    
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    // Utilisation du mixin pour la transition
    @include transition(transform, 0.3s, ease);

    &:hover {
      transform: scale(1.05);
    }
  }

  .breed-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
